@using HighSchoolHacking.Models
@model Language

@{
    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 1),
        Title = "Hello World",
        Extension = Model.NameLower,
        Large = true,
        Back = "/" + Model.Name + "/Learn",
        Paragraphs = new string[]
        {
            "We're going to spend the first few lessons getting you used to working in " + Model.Name + ". These are made assuming you're already experienced with basic coding, such as from one of the earlier lessons here, or from a high school level coding class.",
            Model.Name + " isn't supported by repl.it, so start by going to <a href='http://csstub.com/'>csstub.com/</a>.",
            "To start coding like this, delete whatever's in the editor (left half of the screen), and copy & paste the following code into it:",
            Section.WrapCode(Model.NameLower, new string[]
            {
                Model.Start,
                "        " + Model.CallFunction(Model.PrintFunction, "\"Hello world!\"") + Model.Semicolon,
                Model.End
            }),
            "To run code when you're on Windows or Linux, hit Control + Enter. If you're on Mac, hit Command + Enter. You should see a <em>Hello world!</em> appear on the right half of the screen (the console). If you did, great! If not, any errors should appear on the right side of the screen instead.",
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "steel",
        Title = "Exercises",
        Paragraphs = new string[]
        {
            Section.WrapList(new string[]
            {
                "Instead of printing <em>Hello World</em>, print out your full name."
            })
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "brown",
        Title = "Solutions",
        Contracted = true,
        Paragraphs = new string[]
        {
            Section.WrapList(new string[]
            {
                "Instead of printing <em>Hello World</em>, print out your full name." + Section.WrapCode("python", new string[]
                {
                Model.Start,
                "        " + Model.CallFunction(Model.PrintFunction, "\"Joshua Kevin Goldberg.\"") + Model.Semicolon,
                Model.End
                })
            })
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 2),
        Title = "Namespaces",
        Paragraphs = new string[]
        {
            Model.Name + " comes with a lot of functionality, and there are a lot of libraries people have written for it that you can get online. Therefore, the language uses something called <em>namespaces</em>, which you've probably seen used in other languages, or in the code that tutorialspoint.com gives you by default.",
            "The following two code blocks do the same thing:",
            Section.WrapCode(Model.NameLower, new string[]
            {
                Model.Start,
                "        " + Model.CallFunction(Model.PrintFunction, "Hello world!") + Model.Semicolon,
                Model.End
            }),
            Section.WrapCode(Model.NameLower, new string[]
            {
                "using System;",
                "",
                Model.Start,
                "        Console.WriteLine(\"Hello world!\");",
                Model.End
            }),
            "In the second one, the first line told the compiler that you're using the <code>System</code> namespace, which, among other things, includes <code>Console</code>.",
            "Namespaces are an excellent way to organize your code (like classes, if you've used those), so a lot of the lessons in " + Model.Name + " use them."
        }
    });

    Html.RenderPartial(Section.SwitcherFile, new KeyValuePair<string, string>(Model.Name, "Hello World"));
}
