<!--   KeyValuePair<Language, Page> -->
@model KeyValuePair<string, string>

<div id="switcher">
    <div id="switcher-page" class="switcher-col">
        <h5>View this page for...</h5>
        <select>
            @foreach (string language in HighSchoolHacking.Models.Languages.LanguagesByName.Keys)
            {
                if (language == Model.Key)
                {
                    <option selected="selected">@language</option>
                }
                else
                {
                    <option>@language</option>
                }
            }
        </select>

    </div>
    <div id="switcher-page" class="switcher-col">
        <h5>Jump to lesson on...</h5>
        <select>
            @foreach (string page in HighSchoolHacking.Models.Languages.LessonPages)
            {
                if (page == Model.Value)
                {
                    <option selected="selected">@page</option>
                }
                else
                {
                    <option>@page</option>
                }
            }
        </select>



    </div>

    <hr />
</div>