<footer>
    <p>You're looking at the online hub for High School Hacking, a program to help high school students get into programming. Target students are grades 9 and up; schools that have Computer Science classes are preferred.</p>
    <p>High School Hacking is a collaboration between the RPI chapters of its Computer Science Club, Upsilon Pi Epsilon, and Phi Gamma Delta (Tau Nu). It was initially developed under and funded by the Microsoft Intern Ambassador program.</p>
    <p>Feedback is very welcome and always encouraged: please let us know how we can do better! You can always email us at <a class="email">community_service at taunufiji.com</a>, or talk to us at one of the weekly meetings. If you see something, say something!</p>
</footer>