<footer>
    <p>You're looking at the online hub for High School Hacking, a program to help high school students get into programming. Target students are grades 9 and up; schools that have Computer Science classes are preferred.
    <p>High School Hacking was created by Joshua Kevin Goldberg as a Microsoft Intern Ambassador in conjunction with the RPI chapters of its Computer Science Club, Upsilon Pi Epsilon, and Phi Gamma Delta (Tau Nu).
    <p>Feedback is very welcome and always encouraged: please let us know how we can do better! You can always email Josh at <a class="email">joshuakgoldberg at outlook.com</a>, or talk to us at one of the weekly meetings. If you see something, say something!</p>

    <div id="credits">
        <a href="http://www.microsoft.com">
            <img src="~/Content/Images/Microsoft Small.png" />
        </a>
    </div>
</footer>