@using HighSchoolHacking.Models

@{
    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "steel",
        Title = "High School Hacking",
        Extension = "club",
        Large = true
    });
}

<section id="home">
    <div class="vcenter">
        <h2>
            We'll teach you how to code.
            <br />
            Guaranteed.
        </h2>
    </div>
</section>

@{
    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "steel centered",
        Large = true,
        Goto = "/About",
        Slogans = new string[]
        {
            "A little Object Oriented Programming never hurt anyone.",
            "What's a pirate's favorite language? It's not C, it's R!",
            "Don't be evil. Indent your freaking code.",
            "Don't be evil. Comment your freaking code.",
            "I like my Python how I like my tea: better than Java.",
        },
        Paragraphs = new string[]
        {
            "High School Hacks is a site for high schoolers (and other newcomers) to get involved with programming. There are lessons here that start with the very basics of Python and Javascript, then get more advanced with language-specific activities.",
            "Our <a href=\"http://www.northcolonie.org/shakerhighschool/srhshome.htm\">Shaker High</a> sessions are Wednesdays at 2:30-3:30."
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "green",
        Title = "Python",
        Slogans = new string[]
        {
            "If this is your first time, you want to go here.",
        },
        Paragraphs = new string[]
        {
            "Python is one of the best languages to start coding with, if not the best. It's simple, easy to explain, and less nitpicky than almost every other language.",
            "These lessons will familiarize you with basic Python syntax and the basics of coding, then guide you through a few hacking-style puzzles to find secret codes, show you how to make a basic AI chat bot, and help you generate your own Mad Libs."
        },
        Goto = "/Python",
        Links = new Dictionary<string, string>
        {
            { "Python Online", "http://repl.it/languages/Python" }
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "blue",
        Title = "JavaScript",
        Slogans = new string[]
        {
            "You're more advanced, so we can do some mischief now.",
        },
        Paragraphs = new string[]
        {
            "JavaScript is an incredibly popular language, and is the the language of the web. That means learning JavaScript will give you power over websites on the internet. It's still easier than Java.",
            "After introducing you to the basics of JavaScript and how it's different from Python or Java, these lessons will show you how to tinker with recipe ingredient names, cheat at Cookie Clicker, spam Facebook messages, and make images on Tumblr and other sites look demonic."
        },
        Goto = "/Javascript",
        Links = new Dictionary<string, string>
        {
            { "JavaScript Online", "http://repl.it/languages/javascript" }
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "red",
        Title = "Ruby",
        Slogans = new string[]
        {
            "So similar to English, you wont notice you're coding!",
        },
        Paragraphs = new string[]
        {
            "Ruby is an incredibly powerful, yet flexible language. It's the language behind the Ruby on Rails framework and is used in web development for text processing, games, and more.",
            "If you've seen Python or JavaScript, you'll notice the similarities and get to the activities quickly. If you haven't, Ruby is still an easy language to pick up because it looks a lot like English."
        },
        Goto = "/Ruby",
        Links = new Dictionary<string, string>
        {
            { "Ruby Online", "http://repl.it/languages/ruby" }
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "purple",
        Title = "C#",
        Slogans = new string[]
        {
            "Why do Java programmers wear glasses? Because they dont C#!"
        },
        Paragraphs = new string[]
        {
            /// TODO: C# Description
            "C# is intended to be a simple, modern, general-purpose, object-oriented programming language. It was developed by Microsoft to provide a \"standard\" for other programming languages and to be compatible with their .NET initiative.",
            "C# looks a lot like Java or C++ so if you have experience with those you'll be at home here. You will learn..." /// finish this
        },
        Goto = "/CSharp",
        Links = new Dictionary<string, string>
        {
            { "C# Online", "http://repl.it/languages/csharp" }
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "steel",
        Title = "Project Euler",
        Slogans = new string[]
        {
            "You're too good for us. Go away."
        },
        Paragraphs = new string[]
        {
            "We don't have any more lesson plans for you, now that you've finished the languages above. Sorry!",
            "Fortunately, Project Euler is a site that has a lot of more advanced puzzles similar to ours. You can do them in whatever language you want, and they get progressively harder."
        },
        Goto = "http://www.projecteuler.net"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = "purple",
        Title = "LOLCODE",
        Slogans = new string[]
        {
            "Worst. Language. Ever."
        },
        Paragraphs = new string[]
        {
            "LOLCODE is a programming language made to look like the old internet cat memes. It's horrendous and weird, but interesting to look at.",
            "If you're bored and don't feel like doing anything with your time, take a look.",
        },
        Goto = "/LOLCODE/Learn",
        Links = new Dictionary<string, string>
        {
            { "LOLCODE Online", "http://repl.it/languages/lolcode" },
            { "Homepage", "http://lolcode.org/" }
        }
    });
}