@using HighSchoolHacking.Models

@{
    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Languages.JavaScript.Color,
        Title = "JavaScript",
        Large = true,
        Extension = "highschoolhacking",
        Back = "/",
        Slogans = new string[]
        {
            "Mmhh the convenience.",
        },
        Paragraphs = new string[] 
        {
            "JavaScript is an incredibly popular language, and is the the language of the web. That means learning JavaScript will give you power over websites on the internet.",
            "After introducing you to the basics of JavaScript and how it's different from Python or Java, these lessons will show you how to tinker with recipe ingredient names, cheat at Cookie Clicker, and make images on Tumblr and other sites look demonic."
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 1),
        Title = "Learn the Language",
        Paragraphs = new string[] 
        {
            "These lessons will familiarize you with basic JavaScript syntax and the basics of coding. If you've never coded before, this is where the magic happens - you'll learn how to do use all the basic tools to make programs. If you have coded in other languages, skim through these lessons to get used to JavaScript."
        },
        Goto = "/JavaScript/Learn"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 2),
        Title = "Developer Tools",
        Paragraphs = new string[] 
        {
            "Modern web browsers have something call <a href=\"https://developer.chrome.com/devtools\">Development Tools</a> which let you run JavaScript and mess with web pages. They're really powerful, so we're going to teach you how to use them.",
        },
        Goto = "/JavaScript/Developer Tools"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 3),
        Title = "Name Typos",
        Paragraphs = new string[] 
        {
            "Have you ever tried to remember a famous person's name and gotten it a little bit wrong? Fred instead of Ted, Moe instead of Joe, etc.? We're going to spoof Google results to make them get names wrong on purpose.",
        },
        Goto = "/JavaScript/Name Typos"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 4),
        Title = "Cookie Clicker",
        Paragraphs = new string[] 
        {
            "Cookie Clicker is a web game where you click a cookie to gain cookies, which you can then spend on tools to get you more cookies. It's a great game based on an ingenously dumb concept, and ripe for JavaScript to play with it. This lesson teaches you how to cheat at Cookie Clicker using Functions and <code>setTimeout</code>/<code>setInterval</code>."
        },
        Goto = "/JavaScript/Cookie Clicker"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 5),
        Title = "Bouncing Elements",
        Paragraphs = new string[] 
        {
            "JavaScript and CSS can work together to let you change all sorts of information on elements in web pages. This activity will teach you how to recolor, resize, reshape, and move around elements around on a page, then finally \"bounce\" a round element around like a ball."
        },
        Goto = "/JavaScript/Bouncing Elements"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 6),
        Title = "Random Exclamations",
        Paragraphs = new string[] 
        {
            "Building off the Bouncing Elements exercise, JavaScript can also add elements to a page and mess around with them. This lesson explores random number generation and how you can use it to spice up your pages."
        },
        Goto = "/JavaScript/Random Exclamations"
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Languages.JavaScript.Color, 7),
        Title = "Chrome Extensions",
        Paragraphs = new string[] 
        {
            "Chrome extensions are bits of code that run inside Google Chrome and interact with the web pages you visit. They're written mostly in JavaScript which means we can apply everything else learned thus far into making some cool extensions.",
            "We make one here that replaces words with other words, like in the Name Typos activity, and you could also make extensions to do the Cookie Clicker, Bouncing Elements, and Random Exclamations examples."
        },
        Goto = "/JavaScript/Chrome Extensions"
    });
}