#home {
    height: 0;
    width: 100%;
    text-align: center;
    cursor: default;
    overflow: hidden;
}

#home .vcenter {
    display: table-cell;
    vertical-align: middle;
}

#home .vcenter h2 {
    padding: 21px 0;
    box-shadow: 0 0 11px rgba(14, 14, 14, .84) inset, 0 0 7px rgba(117, 117, 117, .35);
    line-height: 1.33em;
    cursor: default;
    background: rgba(0, 0, 0, .56);
}

@media (min-width: 819px) {
    #home {
        display: table;
        height: 490px;
        width: 100%;
        background: url('Images/Front Background.jpg') no-repeat center center scroll;
        background-size: cover;
    }
}
