/* General/section positioning */

section {
    clear: both;
}

article,
h1 span,
h2 span,
footer {
    margin: auto;
    display: block;
    clear: both;
    padding: 7px 14px;
    max-width: 980px;
}

h1 span {
    padding: 21px 0;
}

h2 span {
    padding: 14px;
}

article:after {
    clear: both;
}

section:first-of-type h1 {
    text-align: center;
}

section img {
    margin-top: 14px;
    margin-bottom: 14px;
}

section:nth-of-type(2n) img {
    margin-right: 28px;
    float: left;
}

section:nth-of-type(2n+1) img {
    margin-left: 28px;
    float: right;
}

section:nth-of-type(2n + 1) h2 span {
    text-align: right;
}

.paragraphs {
    margin-bottom: .35em;
    overflow: hidden;
}

/* Goto links */

a.goto {
    display: block;
    margin: 7px 0;
    padding: 7px 0;
    border: 1px solid rgba(210, 210, 210, .63) !important;
    color: rgba(245, 245, 245, .91);
    text-align: center;
    text-decoration: none !important;
    transition: 117ms border, 117ms color;

    h4 {
        display: inline;
    }

    .goto-arrows {
        text-shadow: none;
        opacity: .49;
        transition: 117ms opacity;
    }
}

a.goto:hover {
    color: white;
    border: 1px solid white !important;

    .goto-arrows {
        opacity: .84;
    }
}

footer {
    p {
        float: left;
        margin: 14px 1% 0 1%;
        padding-bottom: 14px;
        width: 32%;
        line-height: 140%;
    }

    p:first-of-type {
        margin-left: 0;
    }

    p:last-of-type {
        float: right;
        margin-right: 0;
    }
}


/* Medium displays */

@media screen and (max-width: 700px), (max-aspect-ratio: 1/1) {
    img {
        width: 210px;
        height: 210px;
    }

    .paragraphs {
        overflow: visible;
    }


    .extension {
        display: none;
    }

    footer p {
        margin: 7px 3px;
        float: none;
        width: 100%;
    }
}


/* Small displays */

@media screen and (max-width: 490px) {
    img {
        display: none;
    }
}
