/* General styles */
html, body {
  margin: 0;
  padding: 0;
  background: #111; }

body {
  color: white;
  font-family: 'Georgia', 'Times New Roman';
  text-shadow: 1px 1px 7px black; }

p {
  -moz-transition: 350ms line-height;
  -o-transition: 350ms line-height;
  -webkit-transition: 350ms line-height;
  transition: 350ms line-height; }

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(240, 240, 255, 0.84);
  text-shadow: 1px 1px 7px black;
  -moz-transition: text-shadow 117ms, color 175ms, border-bottom 280ms;
  -o-transition: text-shadow 117ms, color 175ms, border-bottom 280ms;
  -webkit-transition: text-shadow 117ms, color 175ms, border-bottom 280ms;
  transition: text-shadow 117ms, color 175ms, border-bottom 280ms; }

a:hover {
  color: white;
  border-bottom: 1px solid #f0f0f0;
  text-shadow: 1px 1px 7px black; }

li {
  margin-bottom: 0.49em; }

/* Header elements */
h1 {
  font-size: 4.2em; }

h2 {
  font-size: 2.8em;
  cursor: pointer; }

h3 {
  margin: 7px 0;
  font-size: 1.4em;
  line-height: 140%; }

h4 {
  margin: 7px 0; }

h1, h2 {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.35);
  font-style: italic; }

h1 small, h2 small {
  display: inline-block;
  font-size: 0.56em; }
  h1 small a, h2 small a {
    border-bottom: 1px solid rgba(210, 210, 210, 0.21); }

/* Section plus/minus icons */
section:not(.expanded) h2 span:before {
  float: right;
  margin-top: 14px;
  height: 0;
  font-size: 49%;
  font-weight: bold;
  content: "+";
  opacity: 0.35; }
section:not(.expanded) h2:not([clicked=off]) span:before {
  content: "-"; }

/*section:nth-of-type(2n + 1) h2 span:before {*/
section.right h2 span:before {
  float: left; }

/* Section article elements */
section.centered article {
  text-align: center; }

body:not(.noShadow) section {
  box-shadow: 0 0 7px black inset; }

section img {
  box-shadow: 0 0 14px black;
  -moz-transition: 350ms border-radius ease-in-out;
  -o-transition: 350ms border-radius ease-in-out;
  -webkit-transition: 350ms border-radius ease-in-out;
  transition: 350ms border-radius ease-in-out; }

section:nth-of-type(2n) img {
  border-radius: 49px 7px; }

section:nth-of-type(2n+1) img {
  border-radius: 7px 49px; }

article {
  font-size: 1.33em;
  line-height: 140%;
  overflow-y: hidden;
  -moz-transition: 350ms height;
  -o-transition: 350ms height;
  -webkit-transition: 350ms height;
  transition: 350ms height; }
  article p {
    text-align: justify; }
    article p .imager {
      font-style: italic;
      text-align: center;
      -moz-transition: 175ms width;
      -o-transition: 175ms width;
      -webkit-transition: 175ms width;
      transition: 175ms width; }
      article p .imager img {
        max-width: 100%;
        border-radius: 7px !important; }
      article p .imager .linker {
        border-bottom: 1px solid white; }
  article .links {
    overflow-x: hidden; }
  article pre {
    /*margin: 0 7px !important;*/
    background-color: rgba(49, 49, 49, 0.84) !important;
    border-radius: 0 !important;
    border: 1px solid rgba(140, 140, 140, 0.7);
    /*box-shadow: 0 0 14px rgba(175, 175, 175, .84);*/
    overflow-x: scroll;
    font-size: 0.77em; }
  article pre.language-text {
    padding: 14px 21px; }

.paragraphs p:first-of-type {
  margin-top: 7px; }
.paragraphs h3 {
  border-bottom: 1px solid white;
  padding-top: 0.49em; }

footer p {
  font-size: 1.05em;
  text-align: justify;
  line-height: 140%;
  color: #dddddd; }
footer #credits {
  padding: 28px 0 14px 0;
  clear: both;
  text-align: center;
  /* http://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css */ }
  footer #credits a {
    color: #e7e7e7;
    border-bottom: 0; }
  footer #credits img {
    opacity: 0.49;
    -moz-transition: 350ms all;
    -o-transition: 350ms all;
    -webkit-transition: 350ms all;
    transition: 350ms all; }
  footer #credits img:not(:hover) {
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */ }
  footer #credits img:hover {
    opacity: 0.7; }

/* Goto links */
a.goto {
  display: block;
  margin: 7px 0;
  padding: 14px 0;
  border: 1px solid rgba(210, 210, 210, 0.63) !important;
  color: rgba(245, 245, 245, 0.91);
  text-align: center;
  text-decoration: none !important;
  text-shadow: none;
  -ms-word-break: break-all;
  word-break: break-all;
  opacity: 0.91;
  -moz-transition: 117ms border, 117ms color, 117ms opacity;
  -o-transition: 117ms border, 117ms color, 117ms opacity;
  -webkit-transition: 117ms border, 117ms color, 117ms opacity;
  transition: 117ms border, 117ms color, 117ms opacity; }
  a.goto h4 {
    display: inline; }
  a.goto .goto-arrows {
    opacity: 0.49;
    -moz-transition: 117ms opacity;
    -o-transition: 117ms opacity;
    -webkit-transition: 117ms opacity;
    transition: 117ms opacity; }

a.goto:hover {
  color: white;
  border: 1px solid white !important;
  opacity: 1; }
  a.goto:hover .goto-arrows {
    opacity: 0.84; }

/* Colors */
.red {
  background-color: #5b0000;
  border-color: #c56b6b; }

.orange {
  background-color: #752a00;
  border-color: goldenrod; }

.green {
  background-color: #003f00;
  border-color: lightGreen; }

.blue {
  background-color: #001A3C;
  border-color: #92b7e5; }

.purple {
  background-color: #350035;
  border-color: #770077; }

.brown {
  background-color: #2e1801;
  border-color: saddleBrown; }

.steel {
  background-color: #333;
  border-color: #111; }

/* Medium displays */
@media (max-width: 700px), (max-aspect-ratio: 1/1) {
  section img {
    border-radius: 100%; }

  .imager {
    padding-top: 14px; }

  section article p, footer p {
    /* font-size: 1.75em; */
    line-height: 175%;
    text-align: left; }
 }

/*# sourceMappingURL=styling.css.map */