@using HighSchoolHacking.Models

@{
    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 3),
        Title = "Ruby Koans",
        Extension = "ruby",
        Large = true,
        Back = "/Ruby",
        Paragraphs = new string[]
        {
            "One of Ruby's most defining attributes is its flexibility and while running your code on <a href=\"https://repl.it/languages/ruby\">repl.it</a> is quick and easy, it doesn't give you a great idea of how Ruby can be used on other platforms. To further your knowledge, we will be learning from \"kōans\"",
            "A kōan is a story, dialogue, question, or statement, which is used in Zen practice to provoke the \"great doubt\" and test a student's progress in Zen practice.",
            "<a href=\"http://rubykoans.com/windows\">Ruby Koans</a> takes this idea and guides students on a \"path of enlightenment\" to teach various intermediate Ruby concepts."
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 4),
        Title = "First, We Get Ruby",
        Goto = "http://rubyinstaller.org/downloads/",
        Paragraphs = new string[]
        {
            "To even begin working on the lessons in Koans, we have to get Ruby actually working first. To download and install Ruby, follow the link at the bottom of this section, then click the link to the latest version of Ruby for your operating system. <em>Important:</em> during the installation, be sure to check the box titled \"Add Ruby executables to your PATH\".",
            "After you're done installing Ruby, you can check that you have everything by doing the following:",
            Section.WrapList(true, new string[]
            {
                "Open up the Command Prompt by pressing \"Win+R\" and typing \"cmd\" into the box that pops up (without the quotes).",
                "Type \"ruby -v\" and press Enter. If you see output like \"ruby 2.x.x\", ruby is installed properly.",
                "Quit the Command Prompt and you're good to go!"
            }),
            "If at any point you got output that was different to mine, run the installer again."
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 5),
        Title = "Next, We Get A Text Editor",
        Goto = "http://www.sublimetext.com/2",
        Paragraphs = new string[]
        {
            "If you were to open one of the Koans lessons in Notepad, all of the code would appear on the same line in one ugly mess. To fix this, we are going to use a more sophisticated text editor. You may be familiar with popular editors such as Notepad++, Vim, or Emacs. For our lessons I encourage you install Sublime Text, but if you are more comfortable with another program, feel free to use that instead.",
            "To install Sublime Text, follow the link at the bottom of this section, click the link corresponding to your operating system, and run the installer. Piece of cake!"
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 6),
        Title = "Last, We Begin Our Journey",
        Goto = "http://rubykoans.com/windows",
        Paragraphs = new string[]
        {
            "To begin the Koans curriculum, you must first download the lessons. To do this, follow the link at the bottom of this section and click \"Download The Koans\"",
            "Start by unzipping the folder you downloaded. Then, move the folder titled \"koans\" somewhere convinient. If your school provides a shared drive that you can access regardless of the computer you're on, I recommend placing the folder there. If that isn't the case, place it in your user folder (C:\\Users\\YourName).",
            "Now begins the real fun:",
            Section.WrapList(true, new string[]
            {
                "Open up the Command Prompt again by pressing \"Win+R\", typing \"cmd\" into the box, and pressing Enter.",
                "Navigate to the directory that your \"koans\" folder is contained in. This can be done using the \"cd\" command (change directory). If you placed your folder inside your user folder, you can just type \"cd koans\" to move to it. If you placed your folder on a shared drive, type the name of that drive, followed by a colon, to navigate to it. Then, use \"cd\" to move to your folder (e.g. Z: then cd koans).",
                "Once you are in the correct folder, type \"ruby path_to_enlightenment.rb\" to run the first lesson and begin your journey."
            })
        }
    });

    Html.RenderPartial(Section.ViewFile, new Section
    {
        Color = Section.GetNextColor(Model.Color, 7),
        Title = "Working Through The Lessons",
        Paragraphs = new string[]
        {
            "The first time you run \"path_to_enlightenment.rb\", you should encounter the following message:",
            Section.WrapCode("text", new string[]
            {
                "AboutAsserts#test_assert_truth has damaged your karma.",
                "",
                "The Master says:",
                "  You have not yet reached enlightenment.",
                "  Do not lose hope.",
                "",
                "The answers you seek...",
                "  Failed assertion.",
                "",
                "Please meditate on the following code:",
                "  C:/Users/willi/rubykoans/koans/about_asserts.rb:10:in \'test_assert_truth\'",
                "",
                "mountains are merely mountains",
                "your path thus far [X_________________________________________________] 0/282"
            }),
            "You have come to the first error. Notice you are told where to look for the error:",
            Section.WrapCode("text", new string[]
            {
                "Please meditate on the following code:",
                "  C:/Users/willi/rubykoans/koans/about_asserts.rb:10:in \'test_assert_truth\'",
            }),
            "You then open up the about_asserts.rb file in your text editor and look at line 10:",
            Section.WrapCode("text", new string[]
            {
                "# We shall contemplate truth by testing reality, via asserts.",
                "def test_assert_truth",
                "  assert false # This should be true",
                "end"
            }),
            "You then change false to true and run the tests again. You should get a new error.",
            "Before moving on, think about what you are learning.",
            "In this specific case, ignore everything except the method name (test_assert_truth) and the parts inside the method (everything before the end). The goal is for you to see that if you pass a value to the assert method, it will either ensure it is true and continue on, or fail if in fact the statement is false.",
            "Finally, make sure that you read the comments in each lesson. They will help you to really understand what's going on and what the purpose of each unit is. Have fun!"
        }
    });
}